{% extends 'layouts/main.html' %}

{% block pageTitle %}
  {% if errorList %}Error: {% endif %}Enter
  your current password
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {% if errorList %}
        {{
          errorSummary({
            titleText: "There is a problem",
            errorList: errorList
          })
        }}
      {% endif %}

      <h1 class="nhsuk-heading-l">Enter your current password</h1>

      <form method="post">
        {{
          passwordInput({
              label: {
                text: "Current password"
              },
              id: "current-password",
              name: "currentPassword",
              errorMessage: errors.currentPassword
          })
        }}
        {{
          applyValidation('currentPassword', {
          presence: {
            allowEmpty: false,
            message: "Enter your current password"
          },
          length: {
            minimum: 2,
            message: "Password must be at least 2 characters"
          },
          inclusion: {
              within: ["fishandchips"],
              message: "Password is incorrect"
            }
          })
        }}

        {{
          button({
            text: "Continue"
          })
        }}
      </form>
    </div>
  </div>
{% endblock %}
