{% extends 'layouts/main.html' %}

{% block pageTitle %}
  {% if errorList %}Error: {% endif %}Enter
  your new password
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {% if errorList %}
        {{
          errorSummary({
            titleText: "There is a problem",
            errorList: errorList
          })
        }}
      {% endif %}

      <h1 class="nhsuk-heading-l">Enter your new password</h1>

      <form method="post">
        {{
          passwordInput({
              label: {
                text: "New password"
              },
              id: "new-password",
              name: "newPassword",
              errorMessage: errors.newPassword
          })
        }}
        {{
          applyValidation('newPassword', {
            presence: {
              allowEmpty: false,
              message: "Enter your new password"
            },
            length: {
              minimum: 2,
              message: "Password must be at least 2 characters"
            }
          })
        }}

        {{
          passwordInput({
              label: {
                text: "Re-enter your new password"
              },
              id: "new-password-confirm",
              name: "newPasswordConfirm",
              errorMessage: errors.newPasswordConfirm
          })
        }}
        {{
          applyValidation('newPasswordConfirm', {
            presence: {
              allowEmpty: false,
              message: "Confirm your new password"
            },
            equality: {
              attribute: "newPassword",
              message: "Passwords must match"
            }
          })
        }}

        {{
          button({
            text: "Continue"
          })
        }}
      </form>
    </div>
  </div>
{% endblock %}
